.matchbox {
    background-image: url("../images/match-background.jpg");
    color: white;
    font-weight: bold;
    margin: 10px;
}
.match {
  padding: 5px;
}
.country {
  text-overflow: ellipsis;
  max-width: 102.81px;
  max-height: 24px;
  white-space: nowrap;
}
